# Environment & Sensitive Keys
.env

# Python / Virtual Environment
.venv/
venv/
env/
__pycache__/
*.py[cod]

# Android Studio & Gradle
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
